.info-content {
    margin-top: 100px;
    display: flex;
    gap: 30px;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.card-link{
    display:block;
    position:relative;
    text-decoration:none;
    color:white;
}

.image1{
    width:300px;
    height:200px;
    object-fit:cover;
    border-radius:15px;
    transition: 0.2s;
}

.link-text{
    position:absolute;

    top:50%;
    left:50%;

    transform:translate(-50%, -50%);

    font-size:32px;
    font-weight:bold;

    text-shadow:2px 2px 10px black;
}